<h1 xmlns="http://www.w3.org/1999/html">Sign up</h1>

<%= form_for(@user) do |f| %>

    <%= render 'fields', :f => f %>

    <div class="actions">
      <%=  f.submit "Sign up" %>
    </div>

<% end %>